body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #8f8f8f -29.09%,
    #121112 51.77%,
    #4f4f4f 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid red;
}

/* New styles */

.file-input {
  display: none;
}

.file-button {
  all: unset;
  border: 1px solid black;
  padding: 12px;
  background-color: white;
  color: black;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.file-button:hover {
  background-color: #f2f2f2;
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Center align the items */
}

.homepage {
  text-align: center;
  margin-top: 50px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}

.form-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.file-button {
  margin-bottom: 20px;
}
